body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

nav{
background:#2e7d32;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
}

nav ul{
list-style:none;
display:flex;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:100px;
background:#e8f5e9;
}

.btn{
background:#2e7d32;
color:white;
padding:10px 20px;
text-decoration:none;
}

.container{
width:80%;
margin:auto;
margin-top:30px;
background:white;
padding:20px;
border-radius:10px;
}

input{
padding:10px;
margin:10px;
}

button{
padding:10px 20px;
background:#2e7d32;
color:white;
border:none;
cursor:pointer;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th,td{
border:1px solid #ccc;
padding:10px;
text-align:center;
}

.login-box{
width:300px;
margin:100px auto;
background:white;
padding:20px;
text-align:center;
border-radius:10px;
}

footer{
text-align:center;
padding:20px;
}